@page 
@model Aula03.Pages.Index

<div class="container mt-4">
    <div class="col-md-7 mx-auto">
        <h1>Gamificação 4 - Hasura e GraphQL</h1>
        <h4>Tarefa de gamificação 4, realizada para a disciplina de Tecnologia em Desenvolvimento de Sistemas.</h4>
        <p> Ana Carolina Jungbluth, Ana Carolina Diel, Isabella Gon e Marco Schneiders.</p>
    </div>
</div>
